.thumbnail__btn{
    background: #FCED70;
    color:black;
    width: 162px;
    height: 49px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.add__btn{
    background: #FCED70;
    color:black;
    width: 162px;
    height: 49px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 4px;
    border:none;
    gap: 10px;
    cursor: pointer;
}